.git
.github
node_modules
vendor
public/build
public/hot
public/storage
.env
.env.*
bootstrap/cache/*.php
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
npm-debug.log
yarn-error.log
tests
docs
*.md
database/database.sqlite
.phpunit.result.cache
