includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app
        - config
        - database
        - routes

    level: 6

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
        - identifier: method.staticCall
        - identifier: nullsafe.neverNull
